#PYTHON - DATA STRUCTURE
**bold text**

In [ ]:
Data Types and Structures Questions :

1.What are data structures, and why are they important?
    ->Data structures are ways of organizing and storing data so that it can be used efficiently. They are important because they determine how data is accessed, modified, and stored, impacting performance and ease of problem-solving.

2.Explain the difference between mutable and immutable data types with examples.
    ->Mutable: Can be changed after creation. Example: list, dict, set.
    x = [1, 2, 3]
    x.append(4)  # Modified
    ->Immutable: Cannot be changed after creation. Example: tuple, str.
    y = "hello"
    # y[0] = 'H' â†’ Error

3.What are the main differences between lists and tuples in Python?
    ->List: Mutable, dynamic size, slower, defined with [].
    Tuple: Immutable, fixed size, faster, defined with ().

4.Describe how dictionaries store data.
    ->Dictionaries store data as key-value pairs using a hash table. Keys must be immutable and unique; values can be of any type.

5.Why might you use a set instead of a list in Python?
    ->Removes duplicates automatically.
    Provides faster membership checks (in).

6.What is a string in Python, and how is it different from a list?
    ->A string is an immutable sequence of characters.
    A list is mutable and can hold elements of different types.

7.How do tuples ensure data integrity in Python?
    ->Tuples are immutable, so once created, their contents cannot be altered, ensuring data consistency.

8.What is a hash table, and how does it relate to dictionaries in Python?
    ->A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables.

9.Can lists contain different data types in Python?
    ->Yes, a single list can contain integers, strings, floats, and even other lists.

10.Why are strings immutable in Python?
    ->Because they are stored as fixed sequences in memory for efficiency and security. Modifying them would require creating a new object.

11.What advantages do dictionaries offer over lists for certain tasks?
    ->Faster data lookup (O(1) vs O(n)).
    Key-based access instead of index-based.
    Can model real-world key-value relationships.

12.Describe a scenario where using a tuple would be preferable over a list.
    ->When storing constant data that should not change, like GPS coordinates (28.6, 77.2) or days of the week.

13.How do sets handle duplicate values in Python?
    ->Sets automatically remove duplicates, keeping only unique elements.

14.How does the "in" keyword work differently for lists and dictionaries?
    ->List: Checks if a value exists.
    Dictionary: Checks if a key exists.

15.Can you modify the elements of a tuple? Explain why or why not.
    ->No, tuples are immutable. However, if a tuple contains a mutable element (like a list), that element can be modified.

16.What is a nested dictionary, and give an example of its use case?
    ->A dictionary containing other dictionaries.
    student = {"name": "John", "marks": {"math": 90, "science": 85}}
    Useful for representing hierarchical data.

17.Describe the time complexity of accessing elements in a dictionary.
    ->Average case: O(1) using hashing.
    Worst case (hash collisions): O(n).

18.In what situations are lists preferred over dictionaries?
    ->When data order matters.
    When duplicate values are allowed.
    When you need indexed access.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
    ->Older versions (<3.7) did not guarantee order since they were hash-based. Retrieval is based on keys, not position. In Python 3.7+, insertion order is preserved.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
    ->List: Access by index (position).
    Dictionary: Access by key.

#PRACTICAL QUESTIONS:

1.Write a code to create a string with your name and print it.
    ->name = "Tanish"
    print(name)

2.Write a code to find the length of the string "Hello World".
    ->print(len("Hello World"))

3.Write a code to slice the first 3 characters from the string "Python Programming".
    ->s = "Python Programming"
    print(s[:3])

4.Write a code to convert the string "hello" to uppercase.
    ->print("hello".upper())

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
    ->print("I like apple".replace("apple", "orange"))

6.Write a code to create a list with numbers 1 to 5 and print it.
    ->print(list(range(1, 6)))

7.Write a code to append the number 10 to the list [1, 2, 3, 4].
    ->lst = [1, 2, 3, 4]
    lst.append(10)
    print(lst)

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
    ->lst = [1, 2, 3, 4, 5]
    lst.remove(3)
    print(lst)

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
    ->print(['a', 'b', 'c', 'd'][1])

10.Write a code to reverse the list [10, 20, 30, 40, 50].
    ->lst = [10, 20, 30, 40, 50]
    lst.reverse()
    print(lst)

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
    ->t = (100, 200, 300)
    print(t)

12.Write a code to access the second-to-last element of the tuple ('red, 'green', 'blue', yellow).
    ->colors = ('red', 'green', 'blue', 'yellow')
    print(colors[-2])

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
    ->print(min((10, 20, 5, 15)))

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit).
    ->animals = ('dog', 'cat', 'rabbit')
    print(animals.index('cat'))

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
    ->fruits = ("apple", "banana", "cherry")
    print("kiwi" in fruits)

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
    ->print(set(['a', 'b', 'c']))

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
    ->s = {1, 2, 3, 4, 5}
    s.clear()
    print(s)

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
    ->s = {1, 2, 3, 4}
    s.remove(4)
    print(s)

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
    ->print({1, 2, 3} | {3, 4, 5})

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
    ->print({1, 2, 3} & {2, 3, 4})

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
    ->d = {"name": "John", "age": 25, "city": "New York"}
    print(d)

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
    ->d = {"name": "John", "age": 25}
    d["country"] = "USA"
    print(d)

23.Write a code to access the value associated with the key "name" in the dictionary {'name: 'Alice', 'age': 30}.
    ->d = {"name": "Alice", "age": 30}
    print(d["name"])

24.Write a code to remove the key "age" from the dictionary {'name: 'Bob', 'age': 22, 'city: 'New York'}.
    ->d = {"name": "Bob", "age": 22, "city": "New York"}
    d.pop("age")
    print(d)

25.Write a code to check if the key "city" exists in the dictionary {'name: 'Alice', 'city: Paris').
    ->d = {"name": "Alice", "city": "Paris"}
    print("city" in d)

26.Write a code to create a list, a tuple, and a dictionary, and print them all.
    ->print([1, 2, 3], (1, 2, 3), {"a": 1, "b": 2})

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
    ->import random
    nums = random.sample(range(1, 101), 5)
    nums.sort()
    print(nums)

28.Write a code to create a list with strings and print the element at the third index.
    ->lst = ["one", "two", "three", "four"]
    print(lst[2])

29.Write a code to combine two dictionaries into one and print the result.
    ->d1 = {"a": 1, "b": 2}
    d2 = {"c": 3, "d": 4}
    d1.update(d2)
    print(d1)

30.Write a code to convert a list of strings into a set.
    ->print(set(["apple", "banana", "apple"]))